.container {
  width: 100%;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .key-item {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
  }
  .container-personal-card h1 {
    margin-top: 50px;
  }
  h1 {
    font-size: 25px;
  }
  .container-personal-card h2 {
    font-size: 19px;
  }
  p {
    font-size: 14px;
  }
  .personal-card__input {
    width: 90%;
    margin-right: -30px;
    padding: 9px 9px;
  }
  .personal-card__btn-submit {
    font-size: 15px;
    padding-right: 80px;
    padding-left: 10px;
    margin-left: -20px;
  }
  .container-personal-card {
    height: 340px;
  }
  .key-item__container p {
    font-size: 18px;
  }
  .key-item ul li {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .key-item__btn {
    font-size: 14px;
  }
  .one-item img {
    width: 43%;
  }
  .one-item {
    width: 34%;
  }
  .wrap-worry {
    justify-content: space-around;
  }
  .container-worry {
    width: 750px;
  }
  .analysis-wrap {
    flex-flow: row wrap;
  }
  .analysis-item {
    width: 50%;
  }
  .analysis-item img {
    width: 30%;
  }
  .wrap {
    width: 690px;
  }
  .training-list ul li {
    font-size: 20px!important;
  }
  .container-scheme {
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 20px!important;
  }
  .container-scheme h2 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
  }
  .container-scheme p {
    font-size: 20px!important;
  }
  .scheme__field input[type="submit"] {
    font-size: 14px!important;
  }
  .scheme__field input[type="text"] {
    padding: 10px 10px!important;
  }
  .scheme-paragraph {
    margin-bottom: 10px!important;
  }
  .scheme__field input[type="text"] {
    width: 158px!important;
  }
  .scheme-arrow img {
    margin-top: 20px!important;
    margin-bottom: 10px!important;
  }
  #title-pictures {
    margin-bottom: 5px!important;
  }
  .scheme-pictures__item img {
    width: 95%!important;
  }
  .container-cost__opacity {
    padding-top: 20px!important;
  }
  .container-cost h2 {
    margin-bottom: 0!important;
  }
  .cost__title {
    font-size: 16px!important;
    margin-bottom: 10px!important;
  }
  .cost__text {
    font-size: 14px!important;
  }
  .cost__list {
    font-size: 14px!important;
  }
  .cost__trait {
    font-size: 24px!important;
  }
  .cost__now {
    font-size: 16px!important;
  }
  .cost__btn input {
    font-size: 14px!important;
  }
  .cost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 6%!important;
    padding-right: 6% !important;
  }
  .cost__btn-pink input {
    font-size: 10px!important;
  }
  .cost__btn input {
    font-size: 10px!important;
  }
  .facts__wrap {
    width: 95% !important;
  }
  .reviews-images {
    width: 95% !important;
  }
  .header {
    width: 98%;
  }
  .header__logo-image img {
    width: 60px;
    height: 60px;
  }
  .header__logo-text {
    font-size: 12px;
    padding-top: 20px;
    padding-left: 10px;
  }
  .header__contacts-number {
    font-size: 12px;
    padding-top: 23px;
    padding-right: 10px;
  }
  .header__contacts-btn input {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 14px;
  }
}





@media screen and (min-width: 320px) and (max-width: 600px) {
  .key-item {
    width: 100%;
    margin: 0 20px 10px 20px;
  }
  .container-personal-card h1 {
    margin-top: 20px;
  }
  h1 {
    font-size: 18px;
  }
  .container-personal-card h2 {
    font-size: 14px;
  }
  .container-personal-card p {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    font-size: 10px;
  }
  p {
    font-size: 12px;
  }
  .personal-card__input {
    width: 80%;
    padding: 3px 3px;
  }
  .personal-card__btn-submit {
    font-size: 10px;
    padding-right: 135px;
    padding-left: 15px;
    width: 30%;
    padding-top: 6px;
    padding-bottom: 4px;
  }
  .container-personal-card {
    height: 350px;
  }
  .key-item__container p {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
  }
  .key-item ul li {
    font-size: 10px;
    margin-left: -25px;
  }
  h2 {
    font-size: 12px;
  }
  .container-analysis h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-analysis {
    padding-bottom: 20px;
  }
  .container-key h2 {
    margin-bottom: 20px;
  }
  .container-key__opacity {
    padding-top: 20px;
  }
  .key-item__container img {
    width: 36px;
  }
  .key-item__btn-wrap {
    margin-bottom: 20px;
  }
  .key-item__btn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
  }
  .container-worry h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-worry {
    padding-bottom: 20px;
  }


  .wrap-worry__item {
    flex-flow: row wrap;
  }
  .one-item {
    width: 100%;
  }
  .wrap__key-item {
    flex-flow: row wrap;
  }
  .analysis-item {
    width: 100%;
  }
  .analysis-wrap {
    flex-flow: row wrap;
  }
  .analysis-item img {
    width: 30%;
  }
  .personal-card {
    flex-flow: row wrap;
    width: 300px;
  }
  .personal-card__item {
    margin-right: 0;
    margin-top: 5px;
  }
  .container-worry {
    width: 300px;
  }
  .training-list ul li {
    font-size: 12px!important;
    padding-left: 0px!important;
    margin-right: 20px!important;
  }
  .container-scheme {
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .container-scheme h2 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
  }
  .container-scheme p {
    font-size: 12px!important;
    font-weight: 600!important;
    letter-spacing: 0!important;
  }
  .scheme__field input[type="submit"] {
    font-size: 10px!important;
    margin-top: 10px!important;
    width: 70%!important;
  }
  .scheme__field input[type="text"] {
    padding: 8px 8px!important;
    width: 65%!important;
    margin-right: 0!important;
  }
  .scheme-arrow img {
    width: 38px!important;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
  }
  .scheme-paragraph {
    margin-bottom: 10px!important;
  }
  .scheme-form {
    flex-direction: column!important;
  }
  .scheme-pictures {
    flex-direction: column!important;
  }
  .scheme-pictures__item {
    width: 100%!important;
  }
  .scheme-pictures__item img {
    width: 100%!important;
  }
  .container-cost__opacity {
    padding-top: 20px!important;
  }
  .container-cost h2 {
    margin-bottom: 0!important;
  }
  .cost {
    flex-direction: column!important;
    padding-left: 5% !important;
    padding-right: 5%!important;
  }
  .cost__item {
    width: 100%!important;
  }
  .cost__title {
    font-size: 14px!important;
    margin-bottom: 10px!important;
  }
  .cost__text {
    font-size: 12px!important;
  }
  .cost__list {
    font-size: 12px!important;
  }
  .cost__trait {
    font-size: 20px!important;
    padding-top: 0!important;
  }
  .cost__now {
    font-size: 14px!important;
  }
  .cost__btn input {
    font-size: 10px!important;
  }
  .training-list {
    width: 80%!important;;
  }
  .training-list p {
    font-size: 12px!important;;
  }
  .consultation__name {
    font-size: 12px!important;;
  }
  .consultation__information-block {
    font-size: 12px!important;;
    flex-direction: column!important;;
  }
  .consultation__photo {
    margin: auto!important;;
  }
  .consultation__text {
    width: 90%!important;;
    margin: auto!important;;
  }
  .training-consultation__btn {
    font-size: 12px!important;;
    width: 90%!important;
    margin-bottom: 20px!important;
  }
  .consultation__item:nth-child(4) {
    margin-bottom: 20px!important;
  }
  .reviews-images {
    width: 95%!important;
  }
  .reviews-images img {
    width: 95%;
  }
  .container-reviews h2 {
    margin-bottom: 20px!important;
  }
  .container-reviews__background {
    padding-top: 20px!important;
  }
  .reviews-images {
    margin-bottom: 10px!important;
  }
  .facts__container {
    flex-direction: column!important;
  }
  .facts__item {
    width: 100%!important;
  }
  .container-facts__background {
    padding-top: 20px!important;
  }
  .container-facts h2 {
    margin-bottom: 0!important;
  }
  .facts__wrap {
    padding-bottom: 20px!important;
    width: 80%!important;
  }
  .facts__text-max {
    font-size: 58px!important;
  }
  .facts__text-min {
    font-size: 18px!important;
  }
  .facts__text {
    font-size: 14px;
  }
  .cost__btn-pink input {
    font-size: 10px!important;
  }
  .header {
    width: 98%;
  }
  .header__logo-image img {
    width: 50px;
    height: 50px;
  }
  .header__logo-text {
    font-size: 12px;
    padding-top: 17px;
    padding-left: 10px;
  }
  .header__contacts-number {
    font-size: 8px;
    padding-top: 20px;
    padding-right: 10px;
  }
  .header__contacts-btn input {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 15px;
  }
}