.container-cost {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 50px;
}
.container-cost__opacity {
  height: 100%;
  padding-top: 45px;
}
.container-cost h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 44px;
}
.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}
.cost__item {
  margin-top: 20px;
  width: 31.5%;
  text-align: center;
}
.cost__item-wrap {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(54, 46, 168);
}
.cost__title {
  font-size: 22px;
  font-family: $headers-font-bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.cost__text {
  font-weight: bold;
}
.cost__line-block {
  padding: 5px;
}
.cost__line {
  width: 74%;
  border-top: 2px solid rgb(53, 41, 169);
  margin: auto;
}
.cost__list ul{
  text-align: start;
  font-weight: bold;
  padding-top:0;
  margin-top: 0;
}
.cost__trait {
  color: rgb(98, 98, 98);
  font-size: 32px;
  padding-bottom: 20px;
  font-family: $headers-font-bold;
}
.cost__now {
  text-transform: uppercase;
  font-family: $headers-font-bold;
  font-size: 26px;
  text-decoration:line-through;
}
.cost__now-all {
  text-transform: uppercase;
  font-family: $headers-font-bold;
  font-size: 26px;
  padding-bottom: 20px;
}
.cost__btn input {
  background-color: rgb(62, 53, 189);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 3px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: rgb(62, 53, 189);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.cost__btn input:hover {
  background-color: rgb(56, 48, 170);
  border-color: rgb(50, 42, 151);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.cost p{
  float: left;
}
.cost__btn-pink input {
  background-color: rgb(237, 113, 158);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 3px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: rgb(237, 113, 158);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.cost__btn-pink input:hover {
  background-color: rgb(233, 82, 137);
  border-color: rgb(229, 51, 116);
  color: rgb(255, 255, 255);
}
.cost__item-wrap-pink {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(237, 113, 158);
}
#money {
  font-size: 26px;
}
.cost__line-pink {
  width: 74%;
  border-top: 4px solid rgb(237, 113, 158);
  margin: auto;
}